*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/.vs
/ipch
/Win32
/x64
/FbxModelMonitor/Win32
/FbxModelMonitor/x64
/MyWpfGraphLibMfc/Win32
/MyWpfGraphLibMfc/x64
/SharedUtility/Win32
/SharedUtility/x64
/MyWpfGraphLibrary/bin
/MyWpfGraphLibrary/obj
/WpfFontBmpWriter/bin
/WpfFontBmpWriter/obj
/SharedUtility/DDSTextureLoader/DDSTextureLoader.h
/SharedUtility/DDSTextureLoader/DDSTextureLoader.cpp
